 <div class="col" id="homepage">
      <a href="./department.handlebars" class="depart" ><button>Add New Department</button></a>
    </div>
    <br>
    <br>

    {{#each departments as | department |}}

    <div class="col">
      <p>
        <a href="/new/{{department.name}}"></a>
      </p>
      {{/each}}
      
  </div>
   <div class="col" id="homepage">
      <a href="/newdepartment" class="depart" ><button>Add New Department</button></a>
    </div>
    <br>
    <br>
<p>{{departments.name}}</p>
    {{#each departments as | department |}}
{{log department}}

    <div class="col">
      <p>
        <a href="/new/{{department.name}}">{{department.name}}</a>
      </p>
      {{/each}}
      
  </div>
  